---
import Layout from "@/layouts/Layout.astro";
import { getPageList } from "@/pages/api/post/list";

const tag = (Astro.params as any).tag;

const all = await getPageList();
const posts = all.filter((v) => v.tags.includes(decodeURIComponent(tag)));

export const getStaticPaths = async () => {
  const all = await getPageList();
  return all
    .map((p) => p.tags)
    .flat()
    .map((p) => ({
      params: {
        tag: p,
      },
    }));
};
---

<script>
  import { mount } from "@/components/RelativeTime";

  mount("data-acc-time");
</script>

<Layout title={`Tag | ${decodeURIComponent(tag)}`}>
  <main>
    <div class="content flex flex-col w-full items-center justify-center px-4">
      <div class="w-full flex justify-between">
        <div class="text-4xl">#{tag}</div>
        <div>{posts.length}</div>
      </div>
      {
        posts.map((item) => (
          <>
            <div class="w-full group pt-8 pb-2">
              <a href={`/post/${item.id}?fromTag=${tag}`} class="px-4 pb-4  flex flex-col w-full">
                <div class="text-lg transition-all font-semibold group-hover:underline">{item.title}</div>
                <div class="text-text text-opacity-60 text-sm">{item.intro}</div>
              </a>
              <div data-acc-time={item.createTime} class="text-end text-xs text-gray" />
            </div>
            <hr class="w-full" />
          </>
        ))
      }
      <a href="/tag" class="mt-4 text-blue"> All Tags </a>
    </div>
  </main>
</Layout>
